/*****     字体：全局     *****/
html, body {
	font-family: "LXGW WenKai";
	font-weight: normal;
}
header .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
/*****     字体：主页     *****/
.post-list .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
/*****     字体：文章     *****/
#toc-toggle {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
.post-content table th {
	font-family: "LXGW WenKai Medium";
	font-weight:normal;
}
.post-content h1,h2,h3,h4,h5,h6 {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
.post-content code:not(.highlight code):not(blockquote code) {
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}
.post-content blockquote code{
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}
.post-content pre code {
	font-family: "Maple Mono NF CN Light";
	font-weight: normal;
}
strong {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}





/*****     短代码: table     *****/
.table-container {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
.no-thead thead {
	display: none;
}
.no-border td {
	border-color: transparent;
}





/*****     短代码: img     *****/
.svg-container svg {
	margin: 0;
	max-width: 100%;
	height: auto;
	transform: translateZ(0);          /* 开启硬件加速 */
	-webkit-transform: translateZ(0);  /* Safari 前缀 */
}
.svg-container.scroll-x {
	overflow-x: auto;
}
.svg-container.scroll-x svg{
	overflow-x: auto;
	width: initial !important;
	height: initial !important;
	min-width: none !important;
	max-width: none !important;
}
.svg-container svg font,
.svg-container svg path,
.svg-container svg rect {
	transition: all var(--transition-time) ease;
}
.dark .auto-dim img {
	filter: brightness(70%);
	transition: filter var(--transition-time) ease;
} 





/*****     短代码: notice     *****/
blockquote.alarm {
	color: var(--Red);
	background-color:  var(--Background-Red);
	border-color: var(--Red);
}
blockquote.warn {
	color: var(--Yellow);
	background-color: var(--Background-Yellow);
	border-color: var(--Yellow);
}
blockquote.info {
	color: var(--Blue);
	background-color: var(--Background-Blue);
	border-color: var(--Blue);
}





/*****     短代码: bar     *****/
.code-bar {
	font-family: 'Maple Mono NF CN Light';
	font-size: 15px;
	color: light-dark(#5C6A72, #9DA9A0);
	background-color: light-dark(#F3EAD3, #333C43);
	border-radius: var(--post-border-radius) var(--post-border-radius) 0 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: -12px;
    overflow-x: auto;
    word-break: break-all;
	white-space: nowrap;
	position: relative;
	z-index: 99;
	border: 1px solid var(--post-pre-border-fg);
	transition: background-color var(--transition-time) ease, color var(--transition-time) ease, border-color var(--transition-time) ease;
}
.code-bar span:first-child {
	color: light-dark(#F3EAD3, #333C43);
	background-color: light-dark(#5C6A72, #859289);
	padding: 1px 5px;
	border-radius: 6px;
	margin-right: 10px;
	user-select: none;
	transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
}
.code-bar.terminal {
	border: 1px solid var(--post-pre-term-border-fg);
	border-bottom: 1px solid light-dark(#4D5960, #434F55);
	color: light-dark(#9DA9A0, #9DA9A0);
	background-color: light-dark(#333C43, #272E33);
}
.code-bar.terminal span:first-child {
	color: light-dark(#333C43, #272E33);
	background-color: light-dark(#9DA9A0, #859289);
}
.code-bar + .highlight > pre {
	border-radius: 0px 0px var(--post-border-radius) var(--post-border-radius);
}





/*****     其它     *****/
.highlight.fixed-height > pre {
	overflow-y: auto;
	max-height: 65vh;
}
