/*****     字体     *****/
html, body {
	font-family: "LXGW WenKai";
	font-weight: normal;
}
header .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
#toc-toggle {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
.post-content table th {
	font-family: "LXGW WenKai Medium";
	font-weight:normal;
}
.post-list .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
.post-content h1,h2,h3,h4,h5,h6 {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}
.post-content code:not(.highlight code):not(blockquote code) {
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}
.post-content blockquote code{
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}
.post-content pre code {
	font-family: "Maple Mono NF CN Light";
	font-weight: normal;
}
strong {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}





/*****     短代码: table     *****/
.table-container {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
.no-thead thead {
	display: none;
}
.no-border td {
	border-color: transparent;
}





/*****     短代码: svg     *****/
.svg-container svg {
	margin: 0;
	zoom: 1;
	max-width: 100%;
	height: auto;
	transform: translateZ(0);          /* 开启硬件加速 */
	-webkit-transform: translateZ(0);  /* Safari 前缀 */
}
.svg-container svg {
	font-family: "LXGW WenKai Mono";
	font-size: 30px;
	font-weight: normal;
}
.svg-container svg font,
.svg-container svg path,
.svg-container svg rect {
	transition: all var(--transition-time) ease;
}





/*****     左右分隔样式     *****/
.sp-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sp-item{
    flex: 1;
}
@media (max-width: 900px) {
    .sp-container {
        flex-direction: column;
		gap: 0px;
    }
	.sp-item {
		width: 100%;
	}
}





/*****     引用样式     *****/
blockquote.red {
	color: var(--Red);
	background-color:  var(--Background-Red);
	border-color: var(--Red);
}
blockquote.yellow {
	color: var(--Yellow);
	background-color: var(--Background-Yellow);
	border-color: var(--Yellow);
}
blockquote.blue {
	color: var(--Blue);
	background-color: var(--Background-Blue);
	border-color: var(--Blue);
}





/*****     code bar     *****/
.code-bar {
	font-family: 'Maple Mono NF CN Light';
	font-size: 15px;
	color: light-dark(#5C6A72, #9DA9A0);
	background-color: light-dark(#F3EAD3, #333C43);
	border-radius: var(--post-border-radius) var(--post-border-radius) 0 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: -12px;
    overflow-x: auto;
    word-break: break-all;
	white-space: nowrap;
	position: relative;
	z-index: 99;
	border: 1px solid var(--post-pre-border-fg);
	transition: background-color var(--transition-time) ease, color var(--transition-time) ease, border-color var(--transition-time) ease;
}
.code-bar span:first-child {
	color: light-dark(#F3EAD3, #333C43);
	background-color: light-dark(#5C6A72, #859289);
	padding: 1px 5px;
	border-radius: 6px;
	margin-right: 10px;
	user-select: none;
	transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
}
.code-bar.term {
	border: 1px solid var(--post-pre-term-border-fg);
	border-bottom: 1px solid light-dark(#4D5960, #434F55);
	color: light-dark(#9DA9A0, #9DA9A0);
	background-color: light-dark(#333C43, #272E33);
}
.code-bar.term span:first-child {
	color: light-dark(#333C43, #272E33);
	background-color: light-dark(#9DA9A0, #859289);
}
.code-bar + .highlight > pre {
	border-radius: 0px 0px var(--post-border-radius) var(--post-border-radius);
}









/*****     合并     *****/
.merge .highlight:first-child {
	margin-bottom: 0px;
}
.merge .highlight:last-child {
	margin-top: 0px;
}
.merge .highlight:first-child > pre {
	border-radius: var(--post-border-radius) var(--post-border-radius) 0px 0px;
}
.merge .highlight:last-child > pre {
	border-radius: 0px 0px var(--post-border-radius) var(--post-border-radius);
	border-top: 0px;
}
