html, body {
	font-family: "LXGW WenKai";
	font-weight: normal;
}

header .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}

#toc-toggle {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}

.post-content table th {
	font-family: "LXGW WenKai Medium";
	font-weight:normal;
}

.post-list .title {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}

.post-content h1,h2,h3,h4,h5,h6 {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}

.post-content code:not(.highlight code):not(blockquote code) {
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}

.post-content blockquote code{
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}

.post-content pre {
	line-height: 1.4;
}

.post-content pre code {
	font-family: "Maple Mono NF CN Light";
	font-weight: normal;
	font-size: 15px;
}

.svg-container svg {
	font-family: "LXGW WenKai Mono";
	font-weight: normal;
}

strong {
	font-family: "LXGW WenKai Medium";
	font-weight: normal;
}




/* 表格样式 */
.no-thead thead {
	display: none;
}
.no-border td {
	border: 0px;
}
.w-20 table td:first-child, 
.w-20 table th:first-child {
  min-width: 20px;
  width: 20px;
}
.w-30 table td:first-child, 
.w-30 table th:first-child {
  min-width: 30px;
  width: 30px;
}
.w-40 table td:first-child, 
.w-40 table th:first-child {
  min-width: 40px;
  width: 40px;
}
.w-50 table td:first-child, 
.w-50 table th:first-child {
  min-width: 50px;
  width: 50px;
}
.w-60 table td:first-child, 
.w-60 table th:first-child {
  min-width: 60px;
  width: 60px;
}
.w-70 table td:first-child, 
.w-70 table th:first-child {
  min-width: 70px;
  width: 70px;
}
.w-80 table td:first-child, 
.w-80 table th:first-child {
  min-width: 80px;
  width: 80px;
}
.w-90 table td:first-child, 
.w-90 table th:first-child {
  min-width: 90px;
  width: 90px;
}
.w-100 table td:first-child, 
.w-100 table th:first-child {
  min-width: 100px;
  width: 100px;
}
.w-110 table td:first-child, 
.w-110 table th:first-child {
  min-width: 110px;
  width: 110px;
}
.w-120 table td:first-child, 
.w-120 table th:first-child {
  min-width: 120px;
  width: 120px;
}
.w-130 table td:first-child, 
.w-130 table th:first-child {
  min-width: 130px;
  width: 130px;
}
.w-140 table td:first-child, 
.w-140 table th:first-child {
  min-width: 140px;
  width: 140px;
}
.w-150 table td:first-child, 
.w-150 table th:first-child {
  min-width: 150px;
  width: 150px;
}
.w-160 table td:first-child, 
.w-160 table th:first-child {
  min-width: 160px;
  width: 160px;
}
.w-170 table td:first-child, 
.w-170 table th:first-child {
  min-width: 170px;
  width: 170px;
}
.w-180 table td:first-child, 
.w-180 table th:first-child {
  min-width: 180px;
  width: 180px;
}
.w-190 table td:first-child, 
.w-190 table th:first-child {
  min-width: 190px;
  width: 190px;
}
.w-200 table td:first-child, 
.w-200 table th:first-child {
  min-width: 200px;
  width: 200px;
}



/* 左右分隔样式 */
.sp-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sp-item{
    flex: 1;
}
@media (max-width: 900px) {
    .sp-container {
        flex-direction: column;
		gap: 0px;
    }
	.sp-item {
		width: 100%;
	}
}



/* 引用样式 */
.dark blockquote.red {
	background-color: #514045;
	border-color: #e67e80;
}
blockquote.red {
	background-color: #fde3da;
	border-color: #f85552;
}
.dark blockquote.yellow {
	background-color: #4d4c43;
	border-color: #dbbc7f;
}
blockquote.yellow {
	background-color: #faedcd;
	border-color: #dfa000;
}
.dark blockquote.blue {
	background-color: #3a515d;
	border-color: #7fbbb3;
}
blockquote.blue {
	background-color: #e9f0e9;
	border-color: #3a94c5;
}



/* code bar */
.code-bar {
	font-family: 'Maple Mono NF CN Light';
	font-size: 15px;
	color: light-dark(#5C6A72, #9DA9A0);
	background-color: light-dark(#F3EAD3, #333C43);
	border-radius: 10px 10px 0 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: -12px;
    overflow-x: auto;
    word-break: break-all;
	white-space: nowrap;
	position: relative;
	z-index: 99;
	border: 1px solid var(--post-pre-border-fg);
	transition: all var(--transition-time) ease;
}

.code-bar span:first-child {
	color: light-dark(#F3EAD3, #333C43);
	background-color: light-dark(#5C6A72, #859289);
	padding: 1px 5px;
	border-radius: 6px;
	margin-right: 10px;
	user-select: none;
	transition: all var(--transition-time) ease;
}

.code-bar.term {
	border: 1px solid var(--post-pre-term-border-fg);
	border-bottom: 1px solid light-dark(#4D5960, #434F55);
	color: light-dark(#9DA9A0, #9DA9A0);
	background-color: light-dark(#333C43, #272E33);
}

.code-bar.term span:first-child {
	color: light-dark(#333C43, #272E33);
	background-color: light-dark(#9DA9A0, #859289);
}
.code-bar + .highlight > pre {
	border-radius: 0px 0px 10px 10px;
}





/* svg  */
.svg-container svg {
	margin: 0;
	zoom: 1;
	max-width: 100%;
	height: auto;
	transform: translateZ(0); /* 开启硬件加速 */
	-webkit-transform: translateZ(0); /* Safari 前缀 */
	transition: all 0.5s ease;
}

.dark .svg-container svg {
	filter: invert(1) brightness(1.2) hue-rotate(20deg) sepia(0.3);
}
