{{/*
@ src         : 源文件
@ font-family : 字体
@ font-size   : 字体大小
*/}}


{{ $src        := .Get "src"                                       }}
{{ $fontFamily := .Get "font-family" | default "LXGW WenKai Mono"  }}
{{ $fontSize   := .Get "font-size"   | default "16px"              }}


{{ $fontSizeReplace   := printf `font-size: %s` $fontSize          }}
{{ $fontFamilyReplace := printf `font-family:'%s';` $fontFamily    }}
{{ $fontFaceReplace   := printf `face="%s"` $fontFamily            }}


{{- if not $src -}}
    {{- errorf "缺少'src'参数" -}}
{{- end -}}


{{- /* 构建相对于当前页面的路径 */ -}}
{{- $currentDir := .Page.File.Dir -}}
{{- $svgPath := path.Join "content" $currentDir $src -}}


{{- if fileExists $svgPath -}}
    <div class="svg-container">
	{{ readFile $svgPath | replaceRE `color-scheme:[a-z\s]+;` "" | replaceRE `font-size:\s*[0-9]+px` $fontSizeReplace | safeHTML }}
    </div>
{{- else -}}
    {{- errorf "SVG文件未找到: %s" $svgPath -}}
{{- end -}}
